{
  "timestamp": "2025-07-23T04:56:32Z",
  "signature": "AgOmk5JHuU2E+Vdv829+th7xubea15K63oxNUGAAAB0AMAAAABAAABAIA90LOou3vUjPBWvFa8ptgim3bbUrpnNKzjiIV9gVCUaH30d6Jxpih7g0zPzMDAVoPHSv1i6kbqbECEU92VzXU8HkJvriR02fn8gbeQVxHguaG4IXOYNEp8dGKQb0p6qpALO7R49N4Uq7IlpXuj7pHG1YV5GIhZgkYNV0X/f3EjTLTF1RcjLAPcmY4VA7absX3GfQasqc5amv7wC1rCMPfMb9IP9RJV+l+t/Zb7hQIJzdK8XPG4z40EgHgUh5prO1d2ym2ItEHNo9xofI6uX7Y0/8EYibGbVHvgYNgcUmjKZSYxw2ZIYzHm8KCt1qdpbv0ETH2w//X5LsA7ocbDiXsAAAAfBWcJbU05bhAc61gceBKKyDCHTAG0FBYqMny5lttdMQAAAJ8BgDVqSfPT+Bp2BPszSyyc+T8PGNcAAACGAwlr3TjpwAuOYipypBNqCQViaIBqmP+F7GeIWDeXA8DKx5PeV/glm6HSvIehTyULwvFvw0L1XyG6C0qVJHKR4icXhEIbVmX1ewIUqU24SCrD9ZHX+nmNB26I4sTbUPl4sBcI0Y4zm2UhjpNwLHZhwsNW03pvurERb0KjjCfiHlsnMhcCMAsA"
}
